
copia seg. pendrive/Certificacion_Negativa20220822-Patricio.pdf
copia seg. pendrive/pato/Curriculum_Patricionuevonuevo (3).docx
copia seg. pendrive/pato/Foto CV Patricio.jpeg
copia seg. pendrive/pato/mapa cordoba.jpeg
copia seg. pendrive/TL-WN725N/Linux Driver/Driver for Linux.txt
copia seg. pendrive/TL-WN725N/Mac OS X Driver/Mac OS X10.13.zip
copia seg. pendrive/TL-WN725N/Mac OS X Driver/Mac OS X10.14.zip
copia seg. pendrive/TL-WN725N/Mac OS X Driver/Mac OS X10.15.zip
copia seg. pendrive/TL-WN725N/Mac OS X Driver/Mac OS X10.8_10.12.zip
copia seg. pendrive/TL-WN725N/plugins/Driver Files/_Setup.dll
copia seg. pendrive/TL-WN725N/plugins/Driver Files/data1.cab
copia seg. pendrive/TL-WN725N/plugins/Driver Files/data1.hdr
copia seg. pendrive/TL-WN725N/plugins/Driver Files/data2.cab
copia seg. pendrive/TL-WN725N/plugins/Driver Files/Driver/Windows_10_32bit/netrtwlanu.cat
copia seg. pendrive/TL-WN725N/plugins/Driver Files/Driver/Windows_10_32bit/netrtwlanu.inf
copia seg. pendrive/TL-WN725N/plugins/Driver Files/Driver/Windows_10_32bit/rtlCoInst.dat
copia seg. pendrive/TL-WN725N/plugins/Driver Files/Driver/Windows_10_32bit/rtlCoInst.dll
copia seg. pendrive/TL-WN725N/plugins/Driver Files/Driver/Windows_10_32bit/RtlExtUI.dll
